html,
body {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100vh;
  width: 100vw;
  background: rgb(15, 15, 15);
}

#grid {
  width: unset !important;
}

#me {
  width: 256px;
  height: 256px;
  border-radius: 9999px;
  margin-bottom: 3rem;
}

a a:hover a:active {
  text-decoration: none;
}

.btn-font {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.icon {
  margin-right: 0.5rem;
}

#twitter-btn:hover {
  background-color: #1da1f2;
  border-color: #1da1f2;
  text-decoration: none;
}

#github-btn:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
  text-decoration: none;
}

#github-btn:hover img {
  filter: invert(100%);
}
