html,
body {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100vh;
  width: 100vw;
  background: #7289da;
  text-align: center;
}

#grid {
  width: unset !important;
}

#avatar {
  width: 256px;
  height: 256px;
  border-radius: 9999px;
  margin-bottom: 3rem;
}
